In [1]:
import pandas as pd

In [2]:
iris = pd.read_csv('C://Users//Admin//Documents//Projects-master//Iris.csv')
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In this step we divide our data column wise into feature vector and label

In [3]:
X = iris.iloc[:, 1:-1]
y = iris.iloc[:, -1]

In this step we divide our training dataset into two subset as training and test set. The trainng subset is used to train the model and the trained model is tested on the test subset. This is called cross validation. We do this inorder to check how accurately is our classifying model perdicting.

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

We now import the naive bayes model.
We initialize the classifier by defining its instance.
The fit(x,y) function is used to train the model. It takes the feature vector and their labels as argument.
To perform prediction a function predict() is used that takes test data as argument and returns their predicted labels.

In [6]:
from sklearn.naive_bayes import GaussianNB

In [7]:
gnb = GaussianNB()

In [8]:
gnb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [9]:
y_pred = gnb.predict(X_test)

we can check the performance of classifier with the help of various classification mertices like accuracy, precision, recall, f1 score etc. classification_report, confusion_matrix functions are used to calculate those metrices.

In [10]:
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score

In [11]:
print('Accuracy of GNB classifier on training set: {:.2f}'
     .format(gnb.score(X_train, y_train)))
print('Accuracy of GNB classifier on test set: {:.2f}'
     .format(gnb.score(X_test, y_test)))

Accuracy of GNB classifier on training set: 0.96
Accuracy of GNB classifier on test set: 0.93

Based on the 3x3 confusion matrix in your example (assuming I'm understanding the labels correctly) the columns are the predictions and the rows must therefore be the actual values. The main diagonal (64, 237, 165) gives the correct predictions. That is, the cases where the actual values and the model predictions are the same.

The first row are the actual males. The model predicted 64 of these correctly and incorrectly predicted 46 of the males to be female and 139 of the males to be infants.

Looking at the male column, of the 128 males predicted by the model (sum of column M), 64 were actually males, while 12 were females incorrectly predicted to be males and 52 were infants incorrectly predicted to be males.

Analogous interpretations apply to the other columns and rows.

          Predicted
          M    F    I 
Actual M 64   46  139
       F 12  237   42
       I 52   79  165

In [12]:
cm = confusion_matrix(y_test, y_pred)

In [13]:
print(cm)

[[ 8  0  0]
 [ 0 11  1]
 [ 0  1  9]]

In [14]:
print(classification_report(y_test, y_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         8
Iris-versicolor       0.92      0.92      0.92        12
 Iris-virginica       0.90      0.90      0.90        10

       accuracy                           0.93        30
      macro avg       0.94      0.94      0.94        30
   weighted avg       0.93      0.93      0.93        30

Testing model by suppplying random data

In [15]:
iris.sample(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
32,33,5.2,4.1,1.5,0.1,Iris-setosa
66,67,5.6,3.0,4.5,1.5,Iris-versicolor
77,78,6.7,3.0,5.0,1.7,Iris-versicolor
38,39,4.4,3.0,1.3,0.2,Iris-setosa
101,102,5.8,2.7,5.1,1.9,Iris-virginica

In [21]:
x_random = [[6.0 , 2.7, 5.1, 1.6], [5.2 , 4.1, 1.5, 0.1]] #[[-1.56697667 , 1.22358774, -1.56980273, -1.33046652],[-2.21742620 , 3.08669365, -1.29593102,-1.07025858]]

In [23]:
y_random = (gnb.predict(x_random))
print(y_random)

['Iris-versicolor' 'Iris-setosa']

Question 2
The accuracy of the trained model is 97%.
Other metrics that can be used:
    Classification Accuracy
    Logarithmic Loss
    Area under the curve
    Root Mean Squared Error

Question 4
The probability of a particular feature is independent of the probability of anothr feature occuring given a class variable.

Question 5
Gaussian: It is useful when predictors take up continuous values and not discrete values.
          It is assumed that the values follow a normal distribution as well as the values of all other features.
Multinomial: It is useful when the predictors take on a range of discrete values
Binomial: It is similar to multinomial but instead of a range of discrete values, the predictors have binary values i.e only 2 distinct groups.

### To correct a zero probabilty error, Laplacian correction is applied

numerator + k
_________________________________________________________
denominator + (number of distinct values attribute can take * k)

where k is the number of distinct values the output can assume